{% extends "base.html" %}
{% block title %}SoftPark - Klienci{% endblock %}
{% block content %}
<!-- Button trigger Adding Client modal -->
<br>
<div class="text-right">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNewClient">
        Dodaj klienta
    </button>
</div>
<!-- Modal: Adding Client -->
<div class="modal fade" id="addNewClient" tabindex="-1" role="dialog" aria-labelledby="addingNewClient" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addingNewClient"><b>Dodawanie nowego klienta</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/home" method="POST">
                    <div class="form-group">
                        <label for="name">Nazwa klienta:</label>
                        <input
                          type="text"
                          class="form-control"
                          id="name"
                          name="name"
                          placeholder=""
                          required
                        />
                    </div>
                    <div class="form-group">
                        <label for="phone_nr">Nr telefonu (bez nr kierunkowego):</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phone_nr"
                          name="phone_nr"
                          placeholder="123 123 123 lub 123123123"
                          required
                        />
                    </div>
                    <div class="form-group">
                        <label for="month_fee">Abonament (PLN):</label>
                        <input
                          type="number"
                          min="0.00"
                          max="10000.00"
                          step="0.01"
                          class="form-control"
                          id="month_fee"
                          name="month_fee"
                          placeholder=""
                          required
                        />
                    </div>
                    <div class="form-group">
                        <label for="contract_start">Data umowy:</label>
                        <input
                          type="date"
                          class="form-control"
                          id="contract_start"
                          name="contract_start"
                          placeholder=""
                          required
                        />
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Dodaj klienta</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<h4 class="text-left"><b>WSZYSCY KLIENCI:</b></h4>
<!-- A table with all client. -->
<table class="table table-sm table-hover" id="clients">
    <thead class="thead-light">
        <tr>
            <th class="text-center" scope="col">#</th>
            <th scope="col">Nazwa</th>
            <th scope="col">Nr telefonu</th>
            <th class="text-right" scope="col">Abonament (PLN)</th>
            <th class="text-right" scope="col">Data początku umowy</th>
            <th class="text-center" scope="col">Akcje</th>
        </tr>
    </thead>
    <tbody>
        {% for client in clients %}
            <tr>
                <th scope="row">{{ clients.index(client) + 1 }}.</th>
                <td>{{ client.name }}</td>
                <td>{{ client.get_phone_nr_with_spaces() }}</td>
                <td class="text-right">{{ client.get_month_fee() }}</td>
                <td class="text-right">{{ client.contract_start }}</td>
                <td class="text-center">
                    <!-- Button trigger Editing Client modal -->
                    <button type="button" class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#editNewClient{{ client.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                            <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001m-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708z"/>
                        </svg>
                    </button>
                    <!-- Editing Client modal -->
                    <div class="modal fade" id="editNewClient{{ client.id }}" tabindex="-1" role="dialog" aria-labelledby="editingNewClient" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editingNewClient"><b>Edytowanie istniejącego klienta</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <form action="/update-client" method="POST">
                                        <div class="form-group">
                                            <input
                                              type="hidden"
                                              id="client_id"
                                              name="client_id"
                                              value="{{ client.id }}"
                                            />
                                            <label for="name">Nazwa klienta:</label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="name"
                                              name="name"
                                              value="{{ client.name }}"
                                              required
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="phone_nr">Nr telefonu (bez nr kierunkowego):</label>
                                            <input
                                              type="text"
                                              class="form-control"
                                              id="phone_nr"
                                              name="phone_nr"
                                              value="{{ client.get_phone_nr_with_spaces() }}"
                                              required
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="month_fee">Abonament (PLN):</label>
                                            <input
                                              type="number"
                                              min="0.00"
                                              max="10000.00"
                                              step="0.01"
                                              class="form-control"
                                              id="month_fee"
                                              name="month_fee"
                                              value="{{ client.get_month_fee() }}"
                                              required
                                            />
                                        </div>
                                        <div class="form-group">
                                            <label for="contract_start">Data umowy:</label>
                                            <input
                                              type="date"
                                              class="form-control"
                                              id="contract_start"
                                              name="contract_start"
                                              value="{{ client.contract_start }}"
                                              required
                                            />
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-primary">Edytuj klienta</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Button trigger Deleting Client modal -->
                    <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#deleteClient{{ client.id }}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </button>
                    <!-- Deleting Client modal -->
                    <div class="modal fade" id="deleteClient{{ client.id }}" tabindex="-1" role="dialog" aria-labelledby="deletingClient" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deletingClient"><b>Usuwanie klienta</b></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body text-left">
                                    <p>Czy napewno chcesz usunąć klienta <b>{{ client.name }}</b>?</p>
                                    <div class="text-right">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                            Nie
                                        </button>
                                        <button type="button" class="btn btn-primary" onClick="deleteClient({{ client.id }})">
                                            Tak
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}